@{
    Layout = "~/Views/Shared/Educat_Layout.cshtml";
}
@model SjHProject.DataModel.Contact
<!-- contact section -->
<section class="contact_section  long_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <div class="heading_container">
                        <h2>
                            Contact Us
                        </h2>
                    </div>
                    <form asp-action="Contact" asp-controller="Educats">
                        <div>
                            <input type="text" asp-for="Name" placeholder="Your Name" />
                        </div>
                        <div>
                            <input type="text" asp-for="Phone" placeholder="Phone Number" />
                        </div>
                        <div>
                            <input type="email" asp-for="Email" placeholder="Email" />
                        </div>
                        <div>
                            <input type="text" asp-for="Massage" class="message-box" placeholder="Message" />
                        </div>
                        <div class="btn_box">
                            <button>
                                SEND
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- end contact section -->